* {
  margin: 0 auto;
}

.container {
  position: absolute;
  top: 10%;
  left: 30%;
}

.video-container {
  position: relative;
}

.overlay-btn-play, .overlay-btn-reload {
  position: absolute;
  top: 40%;
  left: 47%;
  color: grey;
}

#controls {
  display: flex;
  align-items: center;
}

.progress
{
  height: 10px;
  width: 90%;
  background-color: grey;
  position: relative;
}

.progress-bar
{
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background-color: rgb(47, 49, 47);
}
